<header>
  <nav>
    <div class="brand">
      <div class="brand-logo">
        <img src="https://graph.facebook.com/IFRNCampusNatalCentral/picture?type=large" alt="IFRN Campus Natal Central logo" class="logo-img" />
      </div>
      <div>
        <h1>Sistema de gerenciamento de frequência de bolsistas</h1>
      </div>
    </div>

    <div class="menu">
      <a href="/">Home</a>
      <a href="/bolsista/frequencia/">Frequência do bolsista</a>
      <a href="/coordenador/perfil/">Perfil do coordenador</a>
    </div>
  </nav>
</header>
